## LOOPING STATEMENTS

### I)FOR LOOP
### II)WHILE LOOP

In [3]:
# FOR LOOP
x=5
while x<10:
    print('Yes',x)
    x=x+0.5

Yes 5
Yes 5.5
Yes 6.0
Yes 6.5
Yes 7.0
Yes 7.5
Yes 8.0
Yes 8.5
Yes 9.0
Yes 9.5

In [5]:
x=5
while x<10:
    print('Yes',x)
    x=x+2

Yes 5
Yes 7
Yes 9

In [1]:
x=5
while x<10:
    print('Yes',x)
    x=x+0.5

Yes 5
Yes 5.5
Yes 6.0
Yes 6.5
Yes 7.0
Yes 7.5
Yes 8.0
Yes 8.5
Yes 9.0
Yes 9.5

In [3]:
x=25
while x<10:
    print('Yes',x)
    x=x-5

In [19]:
x=70
while x > 45:
    print('Yes',x)
    x=x-5

Yes 70
Yes 65
Yes 60
Yes 55
Yes 50

In [21]:
print("Hello")

Hello

In [23]:
x

45

In [26]:
y=[40,25,56,78,82,66,83]
y

[40, 25, 56, 78, 82, 66, 83]

In [32]:
y+5  #this is broadcasting property this is not applicable here

TypeError: can only concatenate list (not "int") to list

In [34]:
y*2

[40, 25, 56, 78, 82, 66, 83, 40, 25, 56, 78, 82, 66, 83]

In [36]:
y

[40, 25, 56, 78, 82, 66, 83]

In [44]:
radius=[40,25,56,78,82,66,83]
radius

[40, 25, 56, 78, 82, 66, 83]

In [122]:
for i in radius:   #finding radius for each element in the list
   values= print(3.14*i*i)

5024.0
1962.5
9847.04
19103.760000000002
21113.36
13677.84
21631.46

In [128]:
area=[]
for i in radius: #appending the found area into the list named area
    area.append(3.14*i*i)

In [130]:
area

[5024.0, 1962.5, 9847.04, 19103.760000000002, 21113.36, 13677.84, 21631.46]

In [135]:
type(area)

list

In [137]:
num=[52,56,18,45,87,4,79,456,47,85,12,4,55,51151,498]
num

[52, 56, 18, 45, 87, 4, 79, 456, 47, 85, 12, 4, 55, 51151, 498]

In [139]:
for i in num:
    if(i%2==0):
        print("Even")
    else:
        print("Odd")

Even
Even
Even
Odd
Odd
Even
Odd
Even
Odd
Odd
Even
Even
Odd
Odd
Even

In [195]:
#condition for checking and sagregatting even and odd elements
even=[]
odd=[]
for i in num:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

In [197]:
print("Even",even)

Even [52, 56, 18, 4, 456, 12, 4, 498]

In [199]:
print("Odd",odd)

Odd [45, 87, 79, 47, 85, 55, 51151]

In [201]:
#condition for checking and sagregatting even and odd elements
#If even return i square and odd return i cube
even=[]
odd=[]
for i in num:
    if i%2==0:
        even.append(i*i)
    else:
        odd.append(i*i*i)

In [203]:
odd

[91125, 658503, 493039, 103823, 614125, 166375, 133832744995951]

In [205]:
even

[2704, 3136, 324, 16, 207936, 144, 16, 248004]

In [235]:
num1=[39,56,98,99,79,59,65]

In [253]:
a=39

In [255]:
str(a)

'39'

In [257]:
d=str(a)

In [259]:
d.replace('9','1')

'31'

In [261]:
h=[]
for i in num1:
    a=str(i)
    b=a.replace('9','1')  #changes the 9 at last to 1 
    c=int(b)
    h.append(c)

In [263]:
h

[31, 56, 18, 11, 71, 51, 65]

In [279]:
a='Software'
b=''
for i in a:
    if i.lower() not in ('s','o'):
        b+=i

In [281]:
b

'ftware'