if condition1:
    task1 block of code
elif condition2:
    task2 block of code
elif condition3:
    task3 block of code
else:
    task4 block of code

In [1]:
x = 15
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [9]:
15%2==0

False

In [11]:
y = "India"
y

'India'

In [17]:
y.isalpha() # it will say that given value is alpha or not

True

In [19]:
name = "vikas 2004"

In [23]:
if name.isalpha()==True:    # name should not contain any digits 
    print("Accept")
else:
    print("Name should not contain digits and symbols")

Name should not contain digits and symbols

In [33]:
name = "vikas"

In [35]:
if name.isalpha()==True:    # name should contain only name 
    print("Accept")
else:
    print("Name should not contain digits and symbols")

Accept

In [40]:
name.isalpha()

True

In [94]:
name.lower()

'vikas'

In [98]:
name.upper()

'VIKAS'

In [100]:
x = "TElangana"
x

'TElangana'

In [108]:
z = "Mumbai"
if z[0]='m':
    print("Yes")
else:
    print("No")

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (2999258977.py, line 2)